*{
    padding: 0;
    margin: 0;
}








.main{
    width: 100%;
    position: relative;
    perspective: 800px;
    transform-style: preserve-3d;
}

.main .left{
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 2;
    transform-origin: right;
    left: 0;
    transform: translateZ(-300px);
}
.main .content{
    position: absolute;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.content .content-main{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    background-color: aqua;
}

.content .content-main .tan,
.content .content-main .xing{
    width: 300px;
    height: 80%;
    margin: 30px;
    background-color: azure;
    border-radius: 20px;
    box-shadow: 6px 6px 10px rgb(58, 58, 58);
}
.content .content-main .tan{
    float: left;
}
.content .content-main .xing{
    float: right;
}

.tan-top{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 40%;
    background-color: rgb(94, 94, 94);
    position: relative;
}
.tan-top .head{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    position: absolute;
    bottom: -35px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: blueviolet;
    font: 40px/85px "微软雅黑";
    color: aquamarine;
    text-align: center;
}

.tan-top .head::after{
    content: "";
    position: absolute;
    left: -20px;
    top: -20px;
    height: 110px;
    width: 110px;
    border: 10px solid rgb(194, 194, 194);
    border-radius: 50%;
}










/* 动画 */


.content .tan,
.content .xing{
    animation: zhuan 2s;
}
.content .tan .head,
.content .xing .head{
    visibility: hidden;
    animation: head 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}
.content .tan .head::after,
.content .xing .head::after{
    visibility: hidden;
    animation: head 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

